@charset "UTF-8";

body,html{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    box-sizing: border-box;
}

body{
    background-image: url('imagens/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    background-color: #333;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 50px;
}

.logo{
    font-size: 24px;
}

.nav-links-desktop{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.nav-links-desktop li{
    padding: 0 15px;
    
}

.nav-links-desktop a, .nav-links-mobile a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
    
}

.nav-links-desktop a:hover{

    color: rgb(8, 140, 8);
    background-color: white;
    padding: 5px 10px;
    border-radius: 3px;
    transition: 0.5s;
}

.mobile-menu{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;


}

.nav-links-mobile{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
    width: 80%;
    list-style: none;
    padding: 0;

}

.nav-links-mobile li{

    border-bottom: 1px solid #787272;
    padding-bottom: 1.2rem;


}

.hamburguer, .fechar{
    font-size: 24px;
    border: none;
    color: white;
    cursor: pointer;
    background: none;
    display: none;
}

.fechar{
    margin-top: 20px;
    margin-right: 20px;
    display: block;
    align-self: end;
}
@media (max-width: 768px){

    .html{
        font-size: 12px;
    }
    .nav-links-desktop{
        display: none;
    }   

    .hamburguer{
        display: block;
    }

}